* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.containerStyle {
  border: 1px black solid;
  padding: 16px;
}
